body {
  color: #000000;
  background: #EEF2FF;
  font-family: 'Arial', sans-serif;
  font-size: 100%;
  margin: 0px;
}

 .labelSubject {
	color: #0F0C5D;
	font-weight: bold;
	word-wrap: break-word;
}

 .markedPost,  .sideCatalogMarkedCell {
  background: rgba(214, 186, 208, 1);
  border-radius: 0px;
}

 .topBoards a,  #divLatestImages img,  #divLatestPosts .latestPostCell,  .innerPost,  .sideCatalogCell,  .catalogCell {
    background: #D6DAF0;
    border-radius: 0px;
}

 #divLatestPosts .latestPostCell,  .innerPost,  .sideCatalogCell,  .markedPost,  .sideCatalogMarkedCell,  .catalogCell {
	border: 1px solid #B7C5D9;
}

 floatingMenu,  #quick-reply table {
  background: #D6DAF0;
}

 .coloredIcon,  .unhideButton,  .embedButton,  .checkedFavouriteButton::before,  #selectedTab,  #showFormsButton {
    color: #545579;
    cursor: pointer;
}

 .title {
    font-weight: normal;
}

 .topBoards {
    text-align: center;
    font-weight: bold;
}

 #infoBox {
  font-weight: bold;
}

 a {
    color: #34345C;
}

 .unhideButton,  .embedButton,  .hideFileButton {
    color: #34345C;
}

 .boardHeader p {
    color: #AF0A0F;
}

 nav {
  background-color: #D6DAF0;
  border-bottom: 1px solid #B0790A;
}

 a.linkPost.title {
  font-weight: bold;
}

 #links {
  font-weight: bold;
}

 #navLinkSpan {
 color: #8899AA;
}

 .modalDecorationPanel {
  background: #EEF2FF;
}

 #settingsMenu {
  background: #D6DAF0;
}

 div.floatingMenu.extraMenu {
  background: #B7C5D9;
}

 div.floatingMenu.hideMenu {
  background: #B7C5D9;
  color: #000000;
}

 #watchedMenu {
    background: #D6DAF0;
}

 #navLinkHome.coloredIcon {
  color: #34345C;
}

 #navBoardList.coloredIcon {
  color: #34345C;
}

 #navOverboard.coloredIcon {
  color: #34345C;
}

 #navPosting.coloredIcon {
  color: #34345C;
}

 #watcherButton.coloredIcon {
  color: #34345C;
}
 #settingsButton.coloredIcon {
  color: #34345C;
}

 #linkLogs.coloredIcon {
  color: #34345C;
}

 #galleryLink.coloredIcon {
  color: #34345C;
}

 #linkBack.coloredIcon {
  color: #34345C;
}

 #linkTop.coloredIcon {
  color: #34345C;
}

 #linkBottom.coloredIcon {
  color: #34345C;
}

 #navCatalog.coloredIcon {
  color: #34345C;
}

 #navSideCatalog.coloredIcon {
  color: #34345C;
}

 #linkRss.coloredIcon {
  color: #34345C;
}

 a.close-btn.coloredIcon {
  color: #34345C;
}

 #closeSideCatalogButton.coloredIcon {
  color: #34345c;
}

 #linkGlobalLogs.coloredIcon {
  color: #34345C;
}

 #linkArchives.coloredIcon {
  color: #34345C;
}

 #linkGraphs.coloredIcon {
  color: #34345C;
}

 #linkGlobalRules.coloredIcon {
  color: #34345C;
}

 #linkLinks.coloredIcon {
  color: #34345C;
}

 #linkAbout.coloredIcon {
  color: #34345C;
}

 #linkContact.coloredIcon {
  color: #34345C;
}

 #linkAccount.coloredIcon {
  color: #34345C;
}

 #linkEngine.coloredIcon {
  color: #34345C;
}

 #postingForm th,  .modalTableBody th {
    font-weight: bold;
    text-align: left;
    width: 60px;
    font-size: 80%;
    padding-left: 0.1em;
    cursor: default;
    border: 1px solid #117743;
    border-radius: 0px;
    background: #9988EE;
}

 #postingForm input:focus,  #postingForm textarea:focus,
   .modalDecorationPanel input[type='text']:focus,  #settingsMenu input[type='text']:focus,
   #settingsMenu textarea:focus {
  box-shadow: 0px 0px 0px 0px #117743;
}

 input,  select,  textarea {
    border: 1px double #07371F;
    border-radius: 0px;
    background: #FFFFFF;
    color: #000000;
    font-family: 'Arial', sans-serif;
    font-size: 80%;
}

 .extraMenu, .hideMenu {
    color: #000000;
}

 .linkSelf {
    color: #000000;
    text-decoration: none;
}

 .linkQuote {
    color: #000000;
    text-decoration: none;
}

 .quoteLink {
    color: #ff0000;
}

 .linkName {
    font-weight: bold;
    color: #0F0C5D;
}

 .noEmailName,  .noEmailName:hover {
    color: #117743;
    text-shadow: none;
}

 input[type="button"],  input[type="submit"],  button,  .dropzone,  .selectedCell {
	border: 1px double #07371F;
	border-radius: 0px;
	background: #F1F1F1;
	color: #000000;
	padding-left: 0.25em;
	font-family: 'Arial', sans-serif;
        font-size: 80%;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	cursor: pointer;
}

 span.spoiler {
  color: #000000;
  background: #000000;
}

 .spoiler:hover {
  color: #000000;
  background: none;
}

 .orangeText {
  color: #E0727F;
}