body {
  color: #000000;
  background: #EEF2FF;
  font-family: 'Arial', sans-serif;
  font-size: 100%;
  margin: 0px;
}

 .labelSubject {
	color: #0F0C5D;
	font-weight: bold;
	word-wrap: break-word;
}

 .title {
    font-weight: normal;
}

 nav {
  background-color: #D6DAF0;
  border-bottom: 1px solid #B0790A;
}

 a.linkPost.title {
  font-weight: bold;
}

